.admin-create-product-page {
    form {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 15px;
        > button {
            width: 100%;
            background: #079BCF;
            color: white;
            padding: 15px;
            cursor: pointer;
        }
    }
    &__container {
        height: calc(100vh - 210px);
        display: flex;
        gap: 15px;
        @media screen and (max-width: 950px){
            flex-direction: column;
            height: 100%;
        }
    }

    &__submit {
        width: 100%;
        background: #079BCF;
        color: white;
        padding: 10px 15px;
        cursor: pointer;
        font-weight: 600;
    }

    &__column {
        width: 100%;
        &_1 {
            flex: 0 0 500px;
            display: flex;
            flex-direction: column;
            gap: 15px;
        }
        &_2 {
            flex: 1 1 100%;
        }
    }

    &__inputs {
        display: flex;
        gap: 15px;
        input {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 50%;
            transition: .3s ease;
            border: 2px solid #079BCF;
            padding: 15px;
            &:focus {
                box-shadow: 0 0 4px #1ABC9C;
            }
        }
    }

    &__picture {
        overflow: hidden;
        height: 100%;
        border: 2px solid #079BCF;
        position: relative;
        padding: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            width: auto;
            max-height: 100%;
        }
    }

    &__delete-photo {
        position: absolute;
        right: 10px;
        top: 10px;
        cursor: pointer;
        transition: .3s ease;
        font-size: 20px;
        font-weight: 900;
        color: red;
        &:hover {
            color: black;
        }
    }
    &__characteristics {
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 15px;
        &__title {
            border: 2px solid #079BCF;
            font-family: "Russo One", sans-serif;
            font-size: 28px;
            flex: 0 0 58px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        textarea {
            height: 100%;
            font-family: "Open Sans", sans-serif;
            padding: 15px;
            border: 2px solid #079BCF;
            overflow: auto;
            min-height: 300px;
            resize: none;
        }

        @media screen and (max-width: 950px){
            height: inherit;
        }
    }
}